@font-face {
  font-family: Iran-Sans;
  src: url(../fonts/A-Iranian-Sans/Iranian\ Sans.ttf);
}
body, html {
  background-color: #dcdcdc;
  overflow-x: hidden;
  font-family: Iran-Sans, "Courier New", Courier, monospace;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #1d3557;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #457b9d;
  border-radius: 0.3rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ffb703;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  direction: rtl;
  text-align: right;
  transition: all 0.3s;
}

header {
  background: #ff7e5f;
  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  align-items: center;
}
header a {
  text-decoration: none;
  color: #3d405b !important;
}
header a:hover {
  padding: 0.9rem;
  border-bottom: 2px solid;
  cursor: pointer;
}
header ul {
  list-style: none;
  display: flex;
  padding: 0rem;
}

.header_icons {
  width: 0.9rem;
}

.search_box {
  background-color: #8d99ae;
  display: flex;
  align-items: center;
  border-radius: 25px;
}

.search_input {
  border-radius: 25px;
  outline: none;
  border: none;
  background-color: #8d99ae;
  padding: 0.7rem;
}

#logged_in_user {
  position: relative;
}
#logged_in_user div {
  z-index: 999;
  top: 75;
  right: 0;
  position: absolute;
  background: white;
  border-radius: 1rem;
}
#logged_in_user div ul {
  display: block;
}

#mobile_navbar {
  background-color: #ff7e5f;
  background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);
  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #feb47b, #ff7e5f);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: none;
}

#navbar_list {
  display: none;
  width: 100%;
  height: 38vh;
}
#navbar_list a {
  padding: 0.2rem;
}
#navbar_list ul {
  display: block;
  list-style: none;
  float: right;
}

#user_list {
  background-color: #8d99ae;
}
#user_list span {
  display: block;
  padding: 0.3rem;
}

#search_mobile_box {
  background-color: #8d99ae;
}

#main_content ul li {
  list-style: none;
}

.beuty-list {
  position: relative;
}
.beuty-list div {
  z-index: 2;
  position: absolute;
  background-color: #1d3557;
  top: 0;
  right: 0;
  height: 2.6rem;
  opacity: 0.3;
  border-radius: 25px;
}

.category {
  position: absolute;
  right: 75%;
  color: white;
  height: auto;
  width: 20%;
  text-align: center;
  padding: auto 0.5rem;
}

#slider_show {
  padding: 0.4rem;
}

#shop_data a {
  text-decoration: none;
  color: white;
}

footer {
  background: #ff7e5f;
}

#single_content {
  width: 1000px;
}

.single_img {
  width: auto;
  height: 500px;
}

.single_links {
  text-decoration: none;
  color: black;
}

.single_h1 {
  font-size: 1.5rem;
}

.single_p {
  font-size: 1rem;
  font-weight: bold;
  word-wrap: break-word;
}

#single_footer {
  margin-top: 5rem;
}

.single_footer_img {
  height: 300px;
}

.profile_background {
  background: #5f2c82; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #49a09d, #5f2c82); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.avatar {
  vertical-align: middle;
  width: 250px;
  height: 250px;
  border-radius: 50%;
}

#profile_body {
  background: #232526; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #414345, #232526); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: white;
}

#navbar {
  width: 100%;
  height: 8vh;
}
#navbar:first-child {
  background-color: #003049;
  width: 20%;
  height: 8vh;
}
#navbar:first-child #navbar_btn span {
  font-size: 30px;
  color: white;
  cursor: pointer;
}

#navbar_data {
  width: 20%;
  height: 100%;
  position: fixed;
  padding: 0;
  margin: 0;
  background-color: #003049;
  overflow: auto;
  color: white;
}
#navbar_data a {
  color: white;
  text-decoration: none;
}
#navbar_data span, #navbar_data li, #navbar_data a {
  cursor: pointer;
}
#navbar_data img {
  vertical-align: middle;
  width: 100px;
  height: 100px;
  border-radius: 50%;
}
#navbar_data ul {
  list-style: none;
}
#navbar_data ul li::before {
  content: "* ";
}

#banner {
  background: #FFA17F; /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #00223E, #FFA17F); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #00223E, #FFA17F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#btn_close_navbar {
  position: relative;
}
#btn_close_navbar span {
  position: absolute;
  top: 0%;
  right: 90%;
}

.actived_list {
  border-right: 2px solid red;
}

#data_body {
  width: 80%;
  margin-right: 21%;
}
#data_body sup.badge {
  font-size: 11px;
}

.card_alert {
  height: 20px;
}

.card_alert_danger {
  color: #d61f1f;
}

@media screen and (max-width: 992.8px) {
  span, p, pre, h1, h2 {
    text-align: center !important;
  }
  #navbar_data {
    width: 50%;
  }
}
@media screen and (max-width: 600px) {
  #navbar_data {
    width: 70%;
  }
}

/*# sourceMappingURL=main.css.map */
