@import 'font.scss';
@import 'variables.scss';
@import 'responsive.scss';

body,html {
    background-color: $white_background;
    overflow-x: hidden;
    font-family: Iran-Sans ,'Courier New', Courier, monospace;
}

/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #1d3557;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #457b9d;
    border-radius: .3rem;

  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #ffb703;
  }


* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    direction: rtl;
    text-align: right;
    transition: all .3s;
}

header {
    background: #ff7e5f;
    /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    align-items: center;
    a {
        text-decoration: none;
        color: #3d405b !important;

        &:hover {
            padding: .9rem;
            border-bottom: 2px solid;
            cursor: pointer;
        }
    }

    ul {
        list-style: none;
        display: flex;
        padding: 0rem;
    }

}

.header_icons {
    width: .9rem;
}

.search_box {
    background-color: #8d99ae;
    display: flex;
    align-items: center;
    border-radius: 25px;
}

.search_input {
    border-radius: 25px;
    outline: none;
    border: none;
    background-color: #8d99ae;
    padding: .7rem;
}


#logged_in_user {
    position: relative;

    div {
        z-index: 999;
        top: 75;
        right: 0;
        position: absolute;
        background: white;
        border-radius: 1rem;
        // box shadow write here
        ul {
            display: block;
        }
    }
}

#mobile_navbar {
    background-color: #ff7e5f;
    background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #feb47b, #ff7e5f);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    display: none;
}

#navbar_list{
    display: none;
  width: 100%;
  height: 38vh;
  a {
    padding: .2rem;
  }
  ul{
    display: block;
    list-style: none;
    float: right;
  }
}

#user_list{
    background-color: #8d99ae;
    span{
        display: block;
        padding: .3rem;
    }
}

#search_mobile_box{
    background-color: #8d99ae;

}

#main_content {

    ul {
        li {
            list-style: none;
        }
    }
}

.beuty-list {
    position: relative;
    div {
        z-index: 2;
        position: absolute;
        background-color: #1d3557;
        top: 0;
        right: 0;
        height: 2.6rem;
        opacity: .3;
        border-radius: 25px;
    }
}


.category {
    position: absolute;
    right: 75%;
    color: white;
    height: auto;
    width: 20%;
    text-align: center;
    padding: auto .5rem;
}

#slider_show{
    padding: .4rem;
}

#shop_data {
    a{
        text-decoration: none;
        color: white;
    }
}

footer{
    background: #ff7e5f;
}

// single page 

#single_content{
    width: 1000px;
}

.single_img {
    width: auto;
     height: 500px;
}

.single_links{
    text-decoration: none;
    color: black;
}

.single_h1 {
    font-size: 1.5rem;
}

.single_p{
    font-size:1rem;
    font-weight: bold;
    word-wrap: break-word;
}

#single_footer{
    margin-top: 5rem;
}

.single_footer_img {
    height: 300px;
}

.profile_background {
    background: #5f2c82;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #49a09d, #5f2c82);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #49a09d, #5f2c82); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
}

.avatar {
    vertical-align: middle;
    width: 250px;
    height: 250px;
    border-radius: 50%;
  }

  #profile_body {
    background: #232526;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #414345, #232526);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #414345, #232526); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

    color: white;
  }
