@import 'font.scss';
@import 'variables.scss';

* {
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    direction: rtl;
    text-align: right;
}

header{
    background: #ff7e5f;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #feb47b, #ff7e5f);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #feb47b, #ff7e5f); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

align-items: center;

    a {
        text-decoration: none;
        color: #3d405b !important;
    }

ul {
    list-style: none;
    display: flex;
}

}